*{
    margin: 0;
    padding: 0;
}
.container{
    margin: auto;
    width:60vw;
    height:max-content;    
    background-color: rgb(255, 174, 174);
    border: solid rgba(192, 50, 50, 0.32) 30px;
}

.Top-Part{
    width: auto;
    display: flex;
}

.photo{
    height: 500px;
    width: auto;
    border: solid rgb(0, 0, 0);
    border-radius: 400px;
    border-width: 10px;
    margin-left: 8vh;
    margin-top: 10vh;       
}
.text{
    margin-top: 0;
    margin-left: 5vw;
    color: black;
    text-align: ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 800px;
}
.name{
    margin-top: 50vw;
    font-size: 50px;
    font-weight: bold;
    margin: 0;    
}
.date{
    font-size: 30px;
    font-weight: bold;
}
.content{
    margin: 30px;
}
.Heading{
    font-family: Verdana, Geneva, Tahoma, sans-serif, Tahoma, Geneva, Verdana, sans-serif, sans-serif;
    font-size: 100px;
    font: bold;
    margin-top: 20px;
    margin-left: 10px;
    text-align: left;
}
.Details{
    margin: 30px;
    font: bolder;
    font-size: xx-large;    
}
.Bio li{    

    font-size: x-large;
    margin: 20px;
}
.Bio-Head{
    margin-bottom: 5px;
    font-size: xx-large;
    font: bolder;
}
.foot{
    margin: 10px;
    text-align: right;
    font-size: x-large;
}
